


.select {
  padding: 0.7rem;
  font-size: 1rem;
  border-radius:1rem;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: white; 
  transition: background-color 0.3s ease;
}

.option {
  padding: 10px;
  font-size: 16px;
  background-color: white; 
}


.selectEmAndamento {
  background-color: #f0ad4e; 
}

.selectFinalizado {
  background-color: #5bc0de; 
}

.selectArquivado {
  background-color: #d9534f; 
}


.select:hover {
  border-color: #888;
}

.select:focus {
  border-color: #666;
  outline: none;
}


.select:disabled {
  background-color: #e9ecef;
  cursor: not-allowed;
}
